{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Contact Tracing App
</h1>
<h2 class="subtitle">
  logged in as {{session['name']}}
</h2>
<table>
  <thead
    <tr>
        <th>Originator Name</th>
        <th>Originator Email</th>
        <th>Originator Phone</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Contact Phone</th>
        <th>DTG</th>

    </tr>
    </thead>    
    <tbody>
      {% for contact in all_contacts %}    
            <tr>
                <td>{{contact['NAME_ORIGINATOR']}}</td>
                <td>{{contact['EMAIL_ORIGINATOR']}}</td>
                <td>{{contact['PHONE_ORIGINATOR']}}</td>
                <td>{{contact['NAME_CONTACT']}}</td>
                <td>{{contact['EMAIL_CONTACT']}}</td>
                <td>{{contact['PHONE_CONTACT']}}</td>
                <td>{{contact['DTG']}}</td>
     
            </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}