{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Contact Tracing App
</h1>
<h2 class="subtitle">
  logged in as {{session['name']}}
</h2>
<table>
  <thead>
    <tr>
        <th>UserID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
    </tr>
    </thead>    
    <tbody>
      {% for user in all_users %}    
            <tr>
                <td>{{user['UserID']}}</td>
                <td>{{user['NAME']}}</td>
                <td>{{user['EMAIL']}}</td>
                <td>{{user['PHONE']}}</td>
                <td>{{user['ROLE']}}</td>
     
            </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}